<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.webServer>
    <!-- Directory Listing -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  
    <system.web>
      
      <!-- Custom Error Page: Security Misconfiguration Demo1 fix: -->
      <!-- <customErrors mode="On" defaultRedirect="~/ErrorPages/Oops.aspx" /> -->
      
      <compilation debug="true" targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5" />
      <pages validateRequest="false" />
    </system.web>
  
 <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=ASPVulnerableLab;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\AVL.mdf" />
  </connectionStrings>

</configuration>
